In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv("/content/drive/MyDrive/madt/cleaned_datatable.csv")

In [4]:
df=df.drop_duplicates().reset_index(drop=True)
df['order_id']=df.index

In [5]:
df

,ref_no,time,vendor,bill_type,pickup_type,payment_method,sale,payment,tip,change,order_id
0,3001012,7/3/2022 11:39,2,2,7,3,400.0,400.0,0.0,0.0,0
1,3001013,7/3/2022 11:43,2,2,4,3,300.0,300.0,0.0,0.0,1
2,3001014,7/3/2022 11:52,2,2,2,2,65.0,100.0,0.0,35.0,2
3,3001015,7/3/2022 11:56,2,2,6,3,180.0,180.0,0.0,0.0,3
4,3001016,7/3/2022 11:56,2,2,6,3,180.0,180.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...
10255,3011576,31/3/2023 18:13,2,1,1,2,22.0,22.0,0.0,0.0,10255
10256,3011577,31/3/2023 18:29,2,1,1,1,326.0,326.0,0.0,0.0,10256
10257,3011578,31/3/2023 19:50,2,2,2,2,22.0,40.0,0.0,18.0,10257
10258,3011579,31/3/2023 20:38,2,1,1,1,159.0,159.0,0.0,0.0,10258
10259,3011580,31/3/2023 20:48,2,2,2,1,75.0,75.0,0.0,0.0,10259

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10260 entries, 0 to 10259
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ref_no          10260 non-null  int64
 1   time            10260 non-null  object
 2   vendor          10260 non-null  int64
 3   bill_type       10260 non-null  int64
 4   pickup_type     10260 non-null  int64
 5   payment_method  10260 non-null  int64
 6   sale            10260 non-null  float64
 7   payment         10260 non-null  float64
 8   tip             10260 non-null  float64
 9   change          10260 non-null  float64
 10  order_id        10260 non-null  int64
dtypes: float64(4), int64(6), object(1)
memory usage: 881.8+ KB

In [7]:
df['time'] = pd.to_datetime(df['time'], format='%d/%m/%Y %H:%M')

In [8]:
datetime_dim = df[['time']].reset_index(drop=True)
datetime_dim['sale_time']=datetime_dim['time'].dt.time
datetime_dim['sale_day']=datetime_dim['time'].dt.day
datetime_dim['sale_month']=datetime_dim['time'].dt.month
datetime_dim['sale_year']=datetime_dim['time'].dt.year

datetime_dim['datetime_id']=datetime_dim.index

datetime_dim = datetime_dim[['datetime_id','time','sale_time','sale_day','sale_month','sale_year']]

In [9]:
datetime_dim

,datetime_id,time,sale_time,sale_day,sale_month,sale_year
0,0,2022-03-07 11:39:00,11:39:00,7,3,2022
1,1,2022-03-07 11:43:00,11:43:00,7,3,2022
2,2,2022-03-07 11:52:00,11:52:00,7,3,2022
3,3,2022-03-07 11:56:00,11:56:00,7,3,2022
4,4,2022-03-07 11:56:00,11:56:00,7,3,2022
...,...,...,...,...,...,...
10255,10255,2023-03-31 18:13:00,18:13:00,31,3,2023
10256,10256,2023-03-31 18:29:00,18:29:00,31,3,2023
10257,10257,2023-03-31 19:50:00,19:50:00,31,3,2023
10258,10258,2023-03-31 20:38:00,20:38:00,31,3,2023
10259,10259,2023-03-31 20:48:00,20:48:00,31,3,2023

In [10]:
vendor_name={
    1:"Noon",
    2:"Minnie"
}
vendor_dim=df[['vendor']].reset_index(drop=True)
vendor_dim['vendor_id']=vendor_dim.index
vendor_dim['vendor_name']=vendor_dim['vendor'].map(vendor_name)
vendor_dim=vendor_dim[['vendor_id','vendor','vendor_name']]

In [11]:
vendor_dim

       vendor_id  vendor vendor_name
0              0       2      Minnie
1              1       2      Minnie
2              2       2      Minnie
3              3       2      Minnie
4              4       2      Minnie
...          ...     ...         ...
10255      10255       2      Minnie
10256      10256       2      Minnie
10257      10257       2      Minnie
10258      10258       2      Minnie
10259      10259       2      Minnie

[10260 rows x 3 columns]

In [12]:
bill_type_name={
    1:"For_here",
    2:"To_go"
}
bill_type_dim=df[['bill_type']].reset_index(drop=True)
bill_type_dim['bill_type_id']=bill_type_dim.index
bill_type_dim['bill_type_name']=bill_type_dim['bill_type'].map(bill_type_name)
bill_type_dim=bill_type_dim[['bill_type_id','bill_type','bill_type_name']]

In [13]:
bill_type_dim

       bill_type_id  bill_type bill_type_name
0                 0          2          To_go
1                 1          2          To_go
2                 2          2          To_go
3                 3          2          To_go
4                 4          2          To_go
...             ...        ...            ...
10255         10255          1       For_here
10256         10256          1       For_here
10257         10257          2          To_go
10258         10258          1       For_here
10259         10259          2          To_go

[10260 rows x 3 columns]

In [14]:
pickup_type_name={
    1:"served",
    2:"pickup_by_themselves",
    3:"LineMan",
    4:"GrabFood",
    5:"FoodPanda",
    6:"ShopeeFood",
    7:"Robinhood"
}
pickup_type_dim=df[['pickup_type']].reset_index(drop=True)
pickup_type_dim['pickup_type_id']=pickup_type_dim.index
pickup_type_dim['pickup_type_name']=pickup_type_dim['pickup_type'].map(pickup_type_name)
pickup_type_dim=pickup_type_dim[['pickup_type_id','pickup_type','pickup_type_name']]

In [15]:
pickup_type_dim

       pickup_type_id  pickup_type      pickup_type_name
0                   0            7             Robinhood
1                   1            4              GrabFood
2                   2            2  pickup_by_themselves
3                   3            6            ShopeeFood
4                   4            6            ShopeeFood
...               ...          ...                   ...
10255           10255            1                served
10256           10256            1                served
10257           10257            2  pickup_by_themselves
10258           10258            1                served
10259           10259            2  pickup_by_themselves

[10260 rows x 3 columns]

In [16]:
payment_method_name={
    1:"transfer",
    2:"cash",
    3:"other"
}
payment_method_dim=df[['payment_method']].reset_index(drop=True)
payment_method_dim['payment_method_id']=payment_method_dim.index
payment_method_dim['payment_method_name']=payment_method_dim['payment_method'].map(payment_method_name)
payment_method_dim=payment_method_dim[['payment_method_id','payment_method','payment_method_name']]

In [17]:
payment_method_dim

       payment_method_id  payment_method payment_method_name
0                      0               3               other
1                      1               3               other
2                      2               2                cash
3                      3               3               other
4                      4               3               other
...                  ...             ...                 ...
10255              10255               2                cash
10256              10256               1            transfer
10257              10257               2                cash
10258              10258               1            transfer
10259              10259               1            transfer

[10260 rows x 3 columns]

In [18]:
fact_table = df.merge(datetime_dim, left_on='order_id', right_on='datetime_id') \
             .merge(vendor_dim, left_on='order_id', right_on='vendor_id') \
             .merge(bill_type_dim, left_on='order_id', right_on='bill_type_id') \
             .merge(pickup_type_dim, left_on='order_id', right_on='pickup_type_id') \
             .merge(payment_method_dim, left_on='order_id', right_on='payment_method_id')\
             [['order_id','ref_no', 'datetime_id', 'vendor_id',
               'bill_type_id', 'pickup_type_id', 'payment_method_id',
               'sale', 'payment', 'tip', 'change',]]

In [19]:
fact_table

,order_id,ref_no,datetime_id,vendor_id,bill_type_id,pickup_type_id,payment_method_id,sale,payment,tip,change
0,0,3001012,0,0,0,0,0,400.0,400.0,0.0,0.0
1,1,3001013,1,1,1,1,1,300.0,300.0,0.0,0.0
2,2,3001014,2,2,2,2,2,65.0,100.0,0.0,35.0
3,3,3001015,3,3,3,3,3,180.0,180.0,0.0,0.0
4,4,3001016,4,4,4,4,4,180.0,180.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
10255,10255,3011576,10255,10255,10255,10255,10255,22.0,22.0,0.0,0.0
10256,10256,3011577,10256,10256,10256,10256,10256,326.0,326.0,0.0,0.0
10257,10257,3011578,10257,10257,10257,10257,10257,22.0,40.0,0.0,18.0
10258,10258,3011579,10258,10258,10258,10258,10258,159.0,159.0,0.0,0.0
10259,10259,3011580,10259,10259,10259,10259,10259,75.0,75.0,0.0,0.0